# ignore all complied .pyc file
*.pyc
*.swp

# ignore any output files
*.log

# ignore my testrun part
/Examples/testRun_Xuyan/*
/Examples/*.smi
/Examples/*.dat
/Examples/*.mol

# ignore file automatically created by helpers.py
omega.mol

